html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --backgroundColor: #0E1217;
    --accentColor: #1C1F26;
    --accentPink: #ff2197;
    --accentViolet: rgb(163, 20, 220);
    --textaccentColor: #ffffff80;
    --marginColor:#d3d3d380;
    --textbasic: #ffffff;
}

body{
    background-color: var(--backgroundColor);
    color: var(--textbasic);
}

button:hover{
    font-size: 1rem;
    transition: font-size 50ms ease-in-out;
    text-align: center;
}

.navBar{
    border-bottom: solid 0.1px var(--marginColor);
    position: static;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navBarContents{
    /* border: solid white 0.1px; */
    width: 33%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

#navSearchDiv{
    justify-content: center;
    flex-grow: 9;
    /* overflow-y: hidden; */
    /* width: 33%; */
}

#navSearch{
    border-radius: 1rem;
    height: 40px;
    /* width: 100%; */
    width: 350px;
    background-color: var(--accentColor);
    border: none;
    outline: none;
    color: var(--textaccentColor);
    padding: 0.8rem;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navSearch::placeholder{
    color: var(--textaccentColor);
}

#navProfile{
    justify-content:end;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: center;
}

#navTitle{
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

#darkLightButton{
    background-color: transparent;
    border: none;
    outline:none;
}

#darkLight{
    height: 25px;
    margin-top: 0.3rem;
    margin-right: 1rem;
}

#navProfilePicButton{
    background-color: transparent;
    border: none;
    width: fit-content;
    outline: none;
    margin-right: 1rem;
}

#navProfilePic{
    height: 40px;
}

#navBarLogout{
    background-color: var(--accentColor);
    width: fit-content;
    border: solid var(--marginColor) 0.1px;
    color: var(--textaccentColor);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.8rem;
    font-weight: bold;
}

/* #content{
    display: flex;
}


.sideBar{
    border-right: solid var(--marginColor) 0.1px;
    height: 90vh;
    width: 275px;
    position: static;
    top: 10%;

    display: flex;
    flex-wrap: wrap;
}

.sideBarContents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#sideBarProfilePic{
    height: 200px;
    width: 200px;
    border: solid var(--marginColor) 0.1px;
    border-radius: 100%;
}

.sideBarContents{
    width: 100%;
    height: 100%;
}

.sideBarContentsInside{
    margin-top: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sideBarUserName{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sideBarNewPost, #sideBarLogOut{
    width: 90%;
    height: 35px;
    border-radius: 0.5rem;
    font-weight: bolder;
    background-color: var(--accentViolet);
    border: none;
    outline: none;
    color: black;
}

#sideBarLogOut{
    background-color: red;
    color: black;
    position:relative;
    bottom: -40%;
} */


.sideBar{
    /* border: solid blue; */
    height: 100%;
    width: 350px;
    position: sticky;
    top: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: var(--marginColor) solid 0.1px;
}

.feedSpace{
    /* border: greenyellow solid; */
    width:100%;
}

.sideBarContents{
    /* border: solid teal; */
    /* height: 50%; */
    width: 100%;
    padding: 1rem;
}

.sideBarContents > *{
    margin-bottom: 1rem;
}

#sideBarContentsUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sideBarProfilePic{
    width: 250px;
    height: 250px;
    border: solid var(--marginColor) 0.1px;
    border-radius: 100%;
}

.sideBarButtons{
    width: 100%;
    height: 35px;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
}

#sideBarLogOut{
    background-color: red;
}

#sideBarProfileButton{
    background-color: var(--accentViolet);
}

#sideBarNewPost{
    background-color: var(--accentViolet);
}

.mainFeed{
    display: flex;
    /* border: solid red; */
    height: 90vh;
    width: 100vw;
}













@media screen and (max-width:800px) {
    #navSearch{
        width: 100%;
    }
}


@media screen and (max-width:600px) {
    #navTitle{
        font-size: 1.4rem;
    } 
}



